@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}
body {
    background: url('https://images.pexels.com/photos/3166835/pexels-photo-3166835.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.section {
    @apply mb-8 last:mb-0;
}
.section-head {
    @apply uppercase font-medium text-gray-400 mb-4;
}

.section-head::after {
    content: '';
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #22c55e;
    margin: 4px 10px;
}

.secondary-title {
    @apply uppercase text-2xl md:text-4xl font-bold mb-6;
}

.resume-title {
    @apply text-2xl font-bold mb-4;
}
