@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}
body {
    background: url('https://images.pexels.com/photos/3166835/pexels-photo-3166835.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center bottom;
    color: white;
}

.section {
    @apply mb-8 last:mb-0;
}
.section-head {
    @apply uppercase font-medium text-gray-400 mb-4;
}

.section-head::after {
    content: '';
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #22c55e;
    margin: 4px 10px;
}

.card {
    @apply bg-zinc-800 bg-opacity-75 w-3/12 px-8 py-4 text-center relative;
}
.card-span {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -20px;
    transform: translateX(-50%);
    @apply bg-gray-50 bg-opacity-10 text-green-500 text-2xl;
}
.card-icon {
    top: 20%;
    right: 20%;
    @apply absolute;
}

.card-count {
    @apply mt-2 text-3xl font-semibold;
}

.progress-bar-title {
    @apply flex justify-between font-bold text-sm;
}
.progress-bar-wrap {
    @apply w-full bg-gray-200 h-2.5 dark:bg-gray-700 mt-1;
}

.progress-bar {
    @apply bg-green-600 h-2.5;
}

.icon-box div {
    @apply px-4 py-4 bg-zinc-800 bg-opacity-90 items-center flex;
}
.icon-box div span {
    @apply mr-4 text-2xl;
}
.icon-box div h3 {
    @apply text-lg font-medium;
}

.testmonial-box {
    @apply p-4 rounded;
}

.testmonial-head {
    @apply flex flex-row items-center;
}

.resume-title {
    @apply text-2xl font-bold mb-4;
}

.resume-item {
    @apply relative border-l-2 border-slate-500 px-4 text-lg mb-4;
}

.resume-header {
    @apply text-xl text-green-500 font-bold align-top inline-block leading-5 uppercase mb-4;
}

.resume-item ul {
    @apply my-4;
}

.resume-item::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    @apply bg-green-500 border-green-500;
}

.resume-timespan {
    @apply text-sm font-bold px-4 py-2 bg-zinc-900 bg-opacity-75 inline-block mb-2;
}
